/* input type number arrow hide code */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none; margin: 0;
}

.Flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

:root {
    --blue-color: #0080ff;
}